* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.break-all {
    word-break: break-all;
}

.heading.lv3 {
    padding-right: 6px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.heading.lv2 {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

:root {
    --font-heading: sen, sans-serif;
    --primary-color: #ffb900;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 0 16px;
    line-height: 50px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}

.btn:hover {
    opacity: 0.8;
}

a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

/* Header */
.header {
    background: #fffcf4;
}

.header.fixed {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding: 36px 0 8px;
}

.nav {
    margin-left: auto;
}

.nav ul {
    display: flex;
}

.nav a {
    position: relative;
    font-size: 1.6rem;
    color: #5f5b53;
    padding: 8px 21px;
}

.nav a:hover,
.nav li.active a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.nav li.active a::after {
    position: absolute;
    bottom: 6px;
    left: 22px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
}

.header .action {
    margin-left: 49px;
}

.header .sign-up-btn {
    min-width: 144px;
    font-size: 1.6rem;
}
/* Hero */

.hero {
    padding: 64px;
    background: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .block-media {
    width: 48%;
    position: relative;
}

.hero .block-media .img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
}

.hero .block-summary {
    position: absolute;
    padding: 24px;
    width: 270px;
    right: 0;
    bottom: 48px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
}

.hero .block-summary .item {
    display: flex;
    align-items: center;
}

.hero .block-summary .item + .item {
    margin-top: 22px;
}

.hero .block-summary .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff9e8;
}

.hero .block-summary .item:nth-of-type(2) .icon {
    background: #fcefff;
}

.hero .block-summary .item:nth-of-type(3) .icon {
    background: #ebeaff;
}

.hero .block-summary .info {
    margin-left: 16px;
}

.hero .block-summary .label {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero .block-summary .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .block-content {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .block-content .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .block-content .desc {
    margin-top: 22px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero .block-content .desc:nth-of-type(2) {
    margin-top: 48px;
}

.hero .block-content .desc:nth-of-type(3) {
    margin-top: 8px;
}

.hero .stats {
    margin-left: -28px;
}

.hero .stats strong {
    padding: 0 8px 0 28px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.hero .block-content .cta-group {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero .block-content .cta-btn {
    min-width: 180px;
    font-size: 1.8rem;
    background: var(--primary-color);
    line-height: 64px;
}

.hero .block-content .watch-video {
    margin-left: 28px;
    display: flex;
    align-items: center;
    border: 0;
    background: transparent;
}

.hero .block-content .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .watch-video span {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
/* Popular */
.popular {
    margin-top: 135px;
    padding: 65px 0;
}

.popular-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-top .desc {
    width: 458px;
    margin-top: 16px;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular-top .controls {
    display: flex;
    gap: 18px;
}

.popular-top .control-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
}

.popular-top .control-btn:hover {
    background: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

.popular-body {
    margin-top: 55px;
}

/* Popular body */

.popular-body {
    display: flex;
    gap: 0 30px;
}

.popular-body .item {
    width: calc(100% / 3);
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.popular-body .item:hover {
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
    background: #ffffff;
    border: 1px solid transparent;
}

.popular-body .item .thumb {
    margin: -0.5px;
    width: calc(100% + 1px);
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular-body .info {
    padding: 16px 22px 22px;
}

.popular-body .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-body .row .btn:hover {
    background-color: var(--primary-color);
}

.popular-body .stars {
    display: flex;
    align-items: center;
}

.popular-body .row .qty {
    margin-left: 6px;
    color: var(--primary-color);
}

.popular-body .info .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.popular-body .info .deal {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
/* Feedback */
.feedback {
    margin-top: 135px;
    background: #2e2100;
}

.feedback .body {
    display: flex;
    padding: 96px 0;
}

.feedback-left {
    width: 34%;
}

.feedback-left .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback-left .title {
    font-family: var(--font-heading);
    margin-top: 16px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.24;
    color: #f7f7f7;
}

.feedback-left .desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 26px;
    color: #bfbcb3;
}

.feedback-left .doots {
    margin-top: 28px;
    display: flex;
    gap: 0 6px;
}

.feedback-left .doot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
}

.feedback-left .doot.active {
    background: var(--primary-color);
}

.feedback-right {
    width: 66%;
}

.feedback-right .desc {
    font-style: italic;
    margin-left: 30px;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* Features */
.features {
    margin-top: 135px;
    padding: 65px 0;
}

.features .body {
    display: flex;
    gap: 130px;
}

.features .images {
    display: flex;
    gap: 30px;
}

.features .images img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features .images img.lower {
    margin-top: 34px;
}

.features .content .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features .content .btn {
    margin-top: 32px;
    min-width: 137px;
    font-size: 1.6rem;
    background: var(--primary-color);
}

.features-2nd {
    margin-top: 70px;
}

.features-2nd .body {
    flex-direction: row-reverse;
}

.features-2nd .images img {
    width: 470px;
    height: 440px;
    object-fit: cover;
}
/* Blog */
.blog {
    margin-top: 135px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.blog-top .desc {
    margin-top: 16px;
    width: 448px;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #696262;
}

.blog-list {
    display: flex;
    gap: 0 30px;
}

.blog-item {
    width: 33.33333%;
    border-radius: 0 0 16px 16px;
}

.blog-item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blog-item .thumb {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog-item .info {
    padding: 20px 20px 28px;
    background: #ffffff;
    border-radius: 16px;
}

.blog-item .date {
    font-size: 14px;
    line-height: 1.86;
    color: #5f5b53;
    display: inline-flex;
    align-items: center;
    padding-bottom: 12px;
    position: relative;
}

.blog-item .date::before {
    content: "";
    margin-right: 4px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--primary-color);
}

.blog-item .date::after {
    content: "";
    display: inline-block;
    position: absolute;
    right: -27px;
    left: 0;
    bottom: 0;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog-item .heading {
    margin-top: 12px;
    font-size: 1.6rem;
}

.blog-item .btn {
    margin-top: 12px;
}

.blog-item .btn:hover {
    background: var(--primary-color);
}

.blog .doots {
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.blog .doot {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5f5b53;
}

.blog .doot.active {
    background: var(--primary-color);
}
/* Footer */
.footer {
    background: #2e2100;
}

.footer .row {
    padding: 96px 0 38px 0;
    display: flex;
    border-bottom: 1px solid #59554b;
}

.footer .row .column {
    width: 26.6%;
}

.footer .row .column:first-child {
    margin-top: 8px;
    width: 35%;
}

.footer .column .desc {
    margin-top: 18px;
    width: 267px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .column .socials {
    display: flex;
    gap: 18px;
    margin-top: 18px;
}

.footer .column .title {
    display: inline-flex;
    padding: 0 48px 12px 0;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
    border-bottom: 1px solid #59554b;
}

.footer .column .list {
    margin-top: 28px;
}

.footer .list strong {
    color: #fff;
    font-weight: 600;
}

.footer .list a {
    display: block;
    margin-bottom: 12px;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .list li:last-child a {
    margin-bottom: 0;
}

.footer .copyright .desc {
    padding: 28px 0;
    font-size: 1.4rem;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}
